.side-by-side {
  width: 100%;
  float: left;
}

.side-by-side section {
  width: 50%;
  float: left;
}

.wrapper {
  height: auto;
}

.app-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 40px;
}

.app-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.app-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.app-button:hover span {
  padding-right: 25px;
}

.app-button:hover span:after {
  opacity: 1;
  right: 0;
}
